<div id="payMod" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
<form action="/checkout/custom">
  <h3 style="color: black !important;"><i class="fa-brands fa-ethereum"></i> Get a custom slug <span class="no-mobile">(0tr.me/xxx)</span> for just 50¢</h3>
  <input required style="margin: 1px; width: 49%; float: left; margin-bottom: 6px;" type="text" min="2" max="25" name="slug" placeholder="Custom Slug (0tr.me/xxx)"> 
  
  <input required style="margin: 1px; width: 49%; margin-bottom: 6px;" type="text" min="2" max="25" name="url" placeholder="Long URL">
 <input required type="checkbox"> <span class="no-mobile">The short URL is available and </span>I will pay any refund fees<span class="no-mobile"> if it's not</span>
<div style="margin: 5px"></div>
 
  <div style="margin: 5px"></div>
  <button type="button" style="margin-right: 20%;" class="cancelBtn">Cancel</button> 
  <input type="submit">
</form>
    
  </div>

</div>