         <form enctype="multipart/form-data" method="POST" action="/upload" id="file" style="display: none; margin-top: -20px;"> 
        <center><h5>Host Your Images (max 10MB)</h5>
       <span style="display: none;" id="imgSh">Your image will upload automatically after selected. Please be sure you select the correct file!</span>
        </center>
<div onclick="document.getElementById('imgSh').style.display = 'block'" class="upload-btn-wrapper">
  <button class="btn" style="margin-bottom: 10px;">Choose an image</button>
  <input required oninput="this.form.submit()"  accept=".png,.jpg,.jpeg,.gif" type="file" name="file">
</div>
          <center> 
            
                   <span style="font-size: 14px; color: grey; opacity: 0.4;">IMAGES ARE DELETED EVERY 12 HOURS<span class="no-mobile"> TO SAVE RESOURCES AND PROTECT YOUR PRIVACY</span>.</span>
            
           </center>
</form>