<header style="padding: 3px;">
  <nav style="padding: 9px;">
    <ul style="padding: 0">
      <li style="padding: 0"><%= url %></li>
    </ul>
    <ul style="padding: 0">
      <li style="padding: 0" data-tooltip="Coming soon">EDIT ICON</li>
      <li style="padding: 0" data-tooltip="# views">VIEWS_HERE</li>
    </ul>
  </nav>
</header>