<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>otter contact</title>
       <link rel="manifest" href="/static/manifest.json" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
          if (typeof navigator.serviceWorker !== 'undefined') {
            navigator.serviceWorker.register('/static/sw.js')
          }
        </script>
    <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
        <meta name="description" content="0tr.me, another url shortener & file host because i can't stop buying domains.">
        <link rel="icon" type="image/png" href="https://cdn.glitch.global/65f2254a-8e40-4b88-aae8-bb42a288bd4d/Untitled%20design-16.png?v=1679271176829">
          <script src="https://kit.fontawesome.com/22bd0071f3.js" crossorigin="anonymous"></script>  
    <script async src="https://tally.so/widgets/embed.js"></script>
    <style type="text/css">
      html { margin: 0; height: 100%; overflow: hidden; }
      iframe { position: absolute; top: 0; right: 0; bottom: 0; left: 0; border: 0; }
    </style>
  </head>
  <body>
    <iframe data-tally-src="https://tally.so/r/w4r85B?transparentBackground=1" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="Get in touch"></iframe>
  </body>
</html>
