<html>
  <head>
    <script src="https://confettijs.org/confetti.min.js"></script>
    <script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css"/>
<link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
    <meta name="description" content="0tr.me, another url shortener & file host because i can't stop buying domains.">
    <link rel="icon" type="image/png" href="https://cdn.glitch.global/65f2254a-8e40-4b88-aae8-bb42a288bd4d/Untitled%20design-16.png?v=1679271176829">
      <script src="https://kit.fontawesome.com/22bd0071f3.js" crossorigin="anonymous"></script>  
    <title>otter</title>
  </head>
  <body>
 <header>
   
  <img style="float: left;" alt="otter" src="https://cdn.glitch.global/65f2254a-8e40-4b88-aae8-bb42a288bd4d/Untitled%20design-16.png?v=1679271176829">

    <label title="Toggle file host/shorten URL" id="swiCl" class="switch" style="float: right !important; margin: 10px;">
  <input onchange="fileSwitch()" id="check" type="checkbox">
  <span class="slider round"></span>
</label>
   <br><br>
    <span class="no-mobile" id="uStatus" style="font-size: 15px;"><i class="fa-solid fa-link"></i></span>
</header>

    <div id="one" class="content">
      
 <center>
     <h4 style="margin: 0; text-transform: uppercase;">
      
      this domain was expensive<span class="no-mobile">, so use it plz</span>.<br>
       follow me<span class="no-mobile"> on twitter</span> <a style="color: white;" href="https://twitter.com/willmccrudden">@willmccrudden</a><span class="no-mobile">.</span>
     </h4>
   

<!-- The Modal -->
<%- include('/home/runner/otter-dot-me/views/partials/custom-slug.ejs') %>
    </div>
    <img style="width: 100%" src="https://cdn.glitch.global/65f2254a-8e40-4b88-aae8-bb42a288bd4d/wave.svg?v=1679271908333">
    <div style="background-color: #fb9a28; margin: 0; ">
      <div style="margin-left: 10px; margin-right: 10px;">



<%- include('/home/runner/otter-dot-me/views/partials/file-upload.ejs') %>

        
     <form id="url" action="/submit" target="subFrame" style="zoom: 120%; padding: 20px;">

 <i style="font-size: 20px;" class="fa-bounce fa-stroke fa-gradient fa-brands fa-ethereum"></i> Customize your short link <span class="no-mobile">for 50¢ ($0.50)</span> <span class="buyBtnx" style="border: 1px solid black; padding: 1px; background-color: black; cursor: pointer; border-radius: 4px;" id="openPayMod"><span class="no-mobile">Get started </span>→</span>
       <input pattern='^(ftp|http|https):\/\/[^ "]+$' id="urlF" required name="url" style="margin-bottom: 30px;" onclick="this.value = 'https://'; this.select()" placeholder="Give us your looooong URL" type="url">
       <iframe name="subFrame" style="width: 100%; height: 100px;"></iframe>
       <center>
         
      <button style="cursor: pointer; width: 100%;">make it short
  <div class="star-1">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
  </div>
  <div class="star-2">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
  </div>
  <div class="star-3">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
  </div>
  <div class="star-4">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
  </div>
  <div class="star-5">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
  </div>
  <div class="star-6">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
  </div>
</button>
          <!-- <div id="otter" data-ea-publisher="maileeco" data-ea-type="text"></div>-->
       </center>
     </form>
      </div>
      
    </div>

<details open><summary>Decode short URL</summary>
<p>  <center>
<input style="width: 45% !important; display: inline-block; color: black !important;" name="decSl" placeholder="0tr.me/xxxx" id="decSl" type="text"> <input style="width: 45%; display: inline-block; cursor: pointer; background: black; color: whitw;" name="decSl" onclick="slDecode()" value='decode →' type="submit">
  
</center></p>
</details>
    <details><summary>Use a custom domain</summary>
  <%- include('/home/runner/otter-dot-me/views/partials/custom-domain.ejs') %>
    </details>

    <details><summary class="gradient1">Special thanks to...</summary>
    These awesome people contributed to <a href="https://github.com/cmdwm/0tr.me">0tr.me's <span class="no-mobile">open source</span> development</a>.<span class="no-mobile"> You can also <a href="https://bmc.xyz/willymuffin">buy me a coffee</a> to support 0tr.me.</span>
      <%- contributors %>

    </details>

    <center style="margin-bottom: 80px;">Made with <i style="color: red;" class="fa-solid fa-heart"></i> by <a href="https://willm.xyz" style="text-decoration: none; color: white;"><u>Will M</u></a> <br><i>&copy; 2023 McCrudden Innovations LP</i></center>
    <div data-ea-publisher="maileeco" id="otter" data-ea-type="text" data-ea-style="fixedfooter"></div>
  </body>

  <script>
    function slDecode() {
        fetch('/decode?slug=' + document.getElementById('decSl').value.replace('0tr.me/', '').replace('https://', '').replace('http://', '') )
          .then(response => response.text())
          .then(data => alert(data))
          .catch(error => console.error(error));
      }
    // Get all the elements with the class "imgDir"
var elements = document.getElementsByClassName("imgDir");

// Loop through the elements and add a click event listener
for (var i = 0; i < elements.length; i++) {
  // Set the title attribute for each element
  elements[i].setAttribute("title", "Click to view larger image");

  elements[i].addEventListener("click", function() {
    // Get the source of the clicked image
    var src = this.getAttribute("src");
    
    // Open the source image in a new tab
    window.open(src);
  });
}

    if (navigator.clipboard) {
  // Clipboard API is supported
  navigator.clipboard.readText().then(text => {
    if(text.includes('http')) {
      document.getElementById('urlF').value = text
    }
  });
} else {
  // Clipboard API is not supported
 console.log('Clipboard API is not supported by this browser, so nothing was pasted. If you see this message, use an up to date browser so you don\'t need to manually paste anymore!');
}
    function fileSwitch() {
  
var element = document.querySelector("#url");
if (element.style.display === "none") {
  document.getElementById('uStatus').innerHTML = `<i class="fa-solid fa-link"></i>`
  element.style.display = "block";
} else {
  element.style.display = "none";

}
var file = document.querySelector("#file");
if (file.style.display === "none") {
  document.getElementById('uStatus').innerHTML = `<i class="fa-solid fa-file-arrow-up"></i>`
  file.style.display = "block";
} else {
  file.style.display = "none";

}
}
var payMod = document.getElementById("payMod");
var modBtn = document.getElementById("openPayMod");
var closeBtn = document.getElementsByClassName("cancelBtn")[0];

// When the user clicks the button, open the modal 
modBtn.onclick = function() {
  payMod.style.display = "block";
  document.getElementById('payLongVal').value = document.getElementById('urlF').value
}

// When the user clicks on <span> (x), close the modal
closeBtn.onclick = function() {
  payMod.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == payMod) {
    payMod.style.display = "none";
  }
}
  </script>
    
</html>