<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/22bd0071f3.js" crossorigin="anonymous"></script>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css"/>
<link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
    <meta name="description" content="0tr.me, another url shortener because i can't stop buying domains.">
    <link rel="icon" type="image/png" href="https://cdn.glitch.global/65f2254a-8e40-4b88-aae8-bb42a288bd4d/Untitled%20design-16.png?v=1679271176829">
    <title>otter</title>
  </head>
  <body style="margin: 0px; background-color: transparent !important">
         <center>
<font style="text-transform: uppercase">Great, here's your link:</font>  <h4 style="margin: 0;">
           0tr.me/<%= slug %> <i title="Copy URL" style="cursor: pointer;" onclick="copyLink('https://0tr.me/')" id="copyIcon" class="fa-solid fa-copy"> </i>
         </h4>
           <span id="copyTxt"></span>
  
      or... <a style="color: white;" target="_blank" href="https://is-rocket.science/<%= slug %>"><u>is-rocket.science/<%= slug %></u></a>
         
         </center>
    <script>
      function copyLink(url) {
        document.getElementById('copyIcon').classList.toggle('fa-clone')
         document.getElementById('copyIcon').classList.toggle('fa-copy')
document.getElementById('copyTxt').innerHTML = `<font style="text-transform: uppercase"><i class="fa-solid fa-check"></i> Copied!<br></font>`
        
        navigator.clipboard.writeText(url + '<%= slug %>');
      }
    </script>
  </body>
</html>